* {
    font-family: "Courier new", Verdana, Geneva, Tahoma, sans-serif;
    background-color:lightslategray;
}

img {
    width: 500px;
    height: auto;
    
}

h1 {
    font-size: 42px;
}

.heading {
    background-color: black;
    color: white;
}

.home {
    font-size: 24px;
    background-color: black;
    color: red;
}

.center {
    text-align: center;
}

#hplist {
    color: lightgoldenrodyellow;
}